body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #0056b3;
  border-radius: 5px;
}

section {
  padding: 20px;
  margin: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007bff;
}

#tasksList div {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoutButton {
  cursor: pointer;
}

#clockContainer {
  padding-bottom: 20px;
  align-items: center;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding does not affect overall width */
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

#editProfileForm {
  display: none; /* Ensure this form is hidden by default */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#editProfileForm button[type="submit"] {
  margin-top: 15px;
}